/*Re-indent lists*/
.public-DraftStyleDefault-ul {
  padding-left: 30px;
}

.public-DraftStyleDefault-ol {
  padding-left: 30px;
}

/*Fix checkboxes*/
.checkable-list-item-block {
  display: flex;
}

.checkable-list-item {
  display: block;
  margin-left: -20px;
}
